{% extends 'base.html' %}

{% block body %}
<h1>about us </h1>
<p>this page is to inform you more about Ke'Ron Tiger the creater of Sleeper and more sleepers purpose</p>

<p>sleep deprivation is a constint issue for many people around the world including students and can effect you in more ways then you may think.the effect of sleep dperivation can be severe, but not many people know about it this website will let you note down your sleep allowing you to find patterns that could be causing your sleep deprivation.</p>

<P></P>

<img src="static\download.png" alt="">
{% endblock %}