{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All notes</h1>
    </div>
    <div class="col">
        <a href="/sleep/new" class="btn btn-primary btn-sm mt-5" role="button">New notes</a>
    </div>
</div>

{% if sleepforms %}
    {% for sleep in sleepforms %}
        <div class="row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">Date</h3>
                {% endif %}

                <a href="/sleep/{{sleep.id}}">
                    {{moment(sleep.create_date).calendar()}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">User</h3>
                {% endif %}
                {{sleep.author.fname}} {{sleep.author.lname}}
                
    {% endfor %}
{% else %}
    <h1>No notes</h1>
{% endif %}

{% endblock %}